{% extends "baserb.html" %}
{% load l10n %}
{% block side_pane_block %}
  <h2>{{ venue.quadra }}</h2>
{% endblock %}
{% block main_content_block %}
  {{ venue.location }}
  <div class="geoposition-widget" data-map-widget-height="{{ config.map_widget_height }}" data-map-options="{{ config.map_options }}" data-marker-options="{{ config.marker_options }}">
  <div id="map-canvas" style="height: 200px;"></div>
  <script>
            function initialize() {
                var map = new google.maps.Map(document.getElementById('map-canvas'));

                var bounds = new google.maps.LatLngBounds();
                function addMarker(lat, lng, title) {

                    var position = new google.maps.LatLng(lat, lng);
                    console.log(position)
                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: "{{ venue.quadra }}"
                    });
                    map.zoom = 12
                    bounds.extend(position);
                }
                addMarker({{ venue.location.latitude|unlocalize }}, {{ venue.location.longitude|unlocalize }}, "{{ venue.quadra }}");
                map.fitBounds(bounds);
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
</div>
<div class="venue-address">
  {{ venue.address }}
</div>
{% endblock %}
