<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_V3_APIKEY }}">
    </script>
    <script src="{% static 'js/rolabola.js' %}"></script>
    {% load material_form %}
    <link href="{% static 'css/rolabola.css' %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social</title>
  </head>
  <body>
    <header>
      <h1><a href="{% url 'home' %}">Rolabola</a></h1>
      {% block top_search_block %} {% endblock %}
    </header>
    <div class="main-container row">
    {% if user.is_authenticated %}
      <div class="side-pane col m3">
        {% block side_pane_block %}{% endblock %}
      </div>
    {% endif %}
    <div class="main-content col m9">
      {% block main_content_block %}{% endblock %}
    </div>
    </div>
    <footer>
      Social
    </footer>
  </body>
</html>
