{% extends "baserb.html" %}
{% block side_pane_block %}
  <h2>{{ group.name }}</h2>
  {% if not user_in_group and not user_requested_membership %}
    <a class="waves-effect waves-light btn btn-join-group blue" data-url="{% url 'group-join' group.pk %}">
      <i class="material-icons left">group add</i>
      join
      </a>
  {% endif %}
  {% if user_requested_membership %}
    <a class="waves-effect waves-light btn btn-join-group disabled" data-url="{% url 'group-join' group.pk %}">
      membership requested
    </a>
  {% endif %}
  {% if is_admin %}
    <a href="{% url 'group-match-create' group.id %}">New Match</a>
  {% endif %}
  <div class="public-wrapper">
    <input type="checkbox" id="checkbox-public-group" data-group="{{ group.pk }}"
      {{ group.public|yesno:'checked="checked", ' }} {{ is_admin|yesno:' ,disabled="disabled"' }}/>
    <label for="checkbox-public-group">Public</label>
  </div>
  <div id="member-list">
    <ul>
      {% for member in group.member_list.all %}
        <li>
          {{ member.user.first_name }}  {{ member.user.last_name }} ({{ member.nickname }})
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block main_content_block %}
  {% if is_admin %}
    {% if request_list.count %}
    <div class="membership-requests">
      <ul>
        {% for player_request in request_list %}
          <li>
            <a href="#" class="player-name">
              {{ player_request }}
            </a>
            <div class="confirm-container">
              <a class="btn-accept-group btn-floating btn-tiny green" data-url="{% url 'group-accept-request' group.pk player_request.pk %}">
                <i class="material-icons">done</i>
              </a>
              <a class="btn-reject-group btn-floating btn-tiny red" data-url="{% url 'group-reject-request' group.pk player_request.pk %}">
                <i class="material-icons">clear</i>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endif %}
  <div id="calendar-monthly-view">
    <div class="calendar-nav">
      {{group.pk}}
      <a class="btn-nav btn-prev btn-floating btn-tiny green" data-next="0" data-day="{% now 'd' %}" data-month="{% now 'm' %}" data-year="{% now 'Y' %}" data-group="{{ group.pk }}" data-url="{% url 'calendar-update-monthly' %}">
        <i class="material-icons">chevron_left</i>
      </a>
      <span class="month-name">{% now 'F' %}</span>
      <a class="btn-nav btn-next btn-floating btn-tiny green" data-next="1" data-day="{% now 'd' %}" data-month="{% now 'm' %}" data-year="{% now 'Y' %}" data-group="{{ group.pk }}" data-url="{% url 'calendar-update-monthly' %}">
        <i class="material-icons">chevron_right</i>
      </a>
    </div>
    <div class="calendar-table">
      {{ calendar_view }}
    </div>
  </div>
  {% if is_admin %}
  <a class="btn-floating btn-large btn-match-create green" href="{% url 'group-match-create' group.pk %}">
    <i class="material-icons">add</i>
  </a>
  {% endif %}

{% endblock %}
