{% extends "base.html" %}
{% block side_pane_block %}
  <div id="personal-info" class="row">
    <div class="col m3">
      <img class="img-profile responsive-img circle" src="{{ user.player.picture }}" />
    </div>
    <div class="col m9">
      <h2>
        {{user.first_name}} {{user.last_name}} <span class="nickname">({{user.player.nickname}})</span>
      </h2>
    </div>
  </div>
  <div id="group-list-wrapper">

    <ul>
      {% for membership in user.player.membership_set.all %}
        <li><a href="{% url 'Group' membership.group.id %}">{{ membership.group.name }}</a></li>
      {% empty %}
        <li>No groups yet</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block top_search_block %}
  <form id="form_search" action="search/">
    {{ search_form }}
  </form>
{% endblock %}
{% block main_content_block %}
  <div id="schedule-box">
    <table class="calendar-table weekly">
      <thead>
        <tr>
          {% for weekday in dates %}
            <th>
              {{ weekday.label }}
              {{ weekday.date.day }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for weekday in dates %}
            <td class="calendar-day">
                {% for match_day in weekday.matches %}
                  <div class="match-invitation">
                    <a href="{% url "group-match" match_day.match.group.pk match_day.match.pk %}">
                      {{match_day.match.group.name}}
                    </a>
                    <span class="time">
                      {{ match_day.match.date|date:"H:i" }}
                    </span>
                    <div class="confirm-container">
                      <a class="btn-floating btn-tiny green">
                        <i class="material-icons">done</i>
                      </a>
                      <a class="btn-floating btn-tiny red">
                        <i class="material-icons">clear</i>
                      </a>
                    </div>
                  </div>
                {% endfor %}
            </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  <a href="logout/?next=/">Logout</a>
  <div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light green" href="#">
    <i class="material-icons">add</i>
  </a>
  <ul>
    {% for membership in user.player.membership_set.all %}
      <li>
        <a class="btn-floating" href="{% url 'group-match-create' membership.group.id %}">
          <img class="responsive-img circle" src="{{ MEDIA_URL}}{{ membership.group.picture }}" />
        </a>
      </li>
    {% endfor %}
   </ul>
</div>

{% endblock %}
