{% extends "base.html" %}
  {% block main_content_block %}
    <form id="form_login" method="post" action="">
      {% csrf_token %}
      {{ login_form }}
      <input type="submit" value="submit" />
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="hidden" name="form" value="login_form" />
    </form>

    <form id="form_registration" method="post" action="">
      {% csrf_token %}
      {{ player_form }}
      {{ user_creation_form }}
      <input type="submit" value="submit" />
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="hidden" name="form" value="user_creation_form" />
    </form>
    {% endblock %}
