<div class="match-invitation {{ match_invitation.should_active|yesno:'active,inactive' }}" data-match="{{match_invitation.match.pk}}" data-url="{% url "group-update-map" %}" data-group="{{ match_invitation.match.group.pk }}">
  <a href="{% url "group-match" match_invitation.match.group.pk match_invitation.match.pk %}">
    {{match_invitation.match.group.name}}
  </a>
  <span class="time">
    {{ match_invitation.match.date|date:"H:i" }}
  </span>
  <div class="confirm-container">
    {% if match_invitation.status == match_invitation.CONFIRMED %}
      <a class="btn disabled">
        GOING
      </a>
    {% elif match_invitation.status == match_invitation.ABSENCE_CONFIRMED %}
      <a class="btn disabled">
        NOT GOING
      </a>
    {% elif match_invitation.match.get_confirmed_list.count == match_invitation.match.max_participants %}
        <a class="btn disabled">
          FULL
        </a>
    {% else %}
      <a class="btn btn-floating btn-tiny green btn-accept-invitation" data-url="{% url "group-match-accept" match_invitation.match.group.pk match_invitation.match.pk %}">
        <i class="material-icons">done</i>
      </a>
      <a class="btn btn-floating btn-tiny red btn-refuse-invitation" data-url="{% url "group-match-reject" match_invitation.match.group.pk match_invitation.match.pk %}">
        <i class="material-icons">clear</i>
      </a>
    {% endif %}
  </div>
</div>
