<div class="message-wrapper" data-message="{{message.pk}}">
  <img class="message-author-img img-profile circle" src="{{ message.player.fetch_picture }}" />
  <div class="message-author-name">{{ message.player }}</div>
  <div class="message-text">{{message.message}}</div>
  {% if player.pk == message.player.pk or is_admin %}
    <a {% if bind %} onClick="ajaxPost($(this).data('url'), {})" {% endif %}class="btn btn-small red btn-delete-message" data-url="{% url 'message-delete' message.pk %}">Delete</a>
  {% endif %}
</div>
