{% load l10n %}
<div class="confirmed-list">
  <ul>
    {% if header %}
      <li class="header">
        {{ header }}
        <div class="confirm-container">
          <a class="btn btn-floating btn-tiny green btn-accept-invitation" data-url="{% url "group-match-accept" group.pk match.pk %}">
            <i class="material-icons">done</i>
          </a>
          <a class="btn btn-floating btn-tiny red btn-refuse-invitation" data-url="{% url "group-match-reject" group.pk match.pk %}">
            <i class="material-icons">clear</i>
          </a>
        </div>
      </li>
    {% endif %}
  </ul>
  <h3>Confirmed ({{ match.get_confirmed_list|length }})</h3>
  <ul>
    {% for confirmed_player in match.get_confirmed_list %}
      <li>
        {{ confirmed_player }}
        {% if player == confirmed_player.pk or user_is_admin %}
          <div class="revert-container">
            <a class="btn red" data-url="{% url "group-match-revert" group.pk match.pk %}?u={{ confirmed_player.pk }}">CANCEL</a>
          </div>
        {% endif %}
      </li>
    {% empty %}
      <li>No confirmed players</li>
    {% endfor %}
  </ul>
</div>
<div class="not-confirmed-list">
  <h3>Not confirmed</h3>
  <ul>
    {% for not_confirmed_player in unaswered %}
      <li>{{ not_confirmed_player }}
        {% if user_is_admin %}
        <div class="confirm-container">
          <a class="btn btn-floating btn-tiny green btn-accept-invitation" data-url="{% url "group-match-accept" group.pk match.pk %}?u={{ not_confirmed_player.pk }}">
            <i class="material-icons">done</i>
          </a>
          <a class="btn btn-floating btn-tiny red btn-refuse-invitation" data-url="{% url "group-match-reject" group.pk match.pk %}?u={{ not_confirmed_player.pk }}">
            <i class="material-icons">clear</i>
          </a>
        </div>
        {% endif %}
      </li>
    {% empty %}
      <li>No not-confirmed players</li>
    {% endfor %}
    {% for refused_player in match.get_refused_list %}
      <li class="disabled">
        {{ refused_player }}
        {% if player == refused_player.pk or user_is_admin %}
        <div class="revert-container">
          <a class="btn red" data-url="{% url "group-match-revert" group.pk match.pk %}?u={{ refused_player.pk }}">CANCEL</a>
        </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
